
@section Scripts{
    <script src="~/Scripts/Citizen/Services/userServices.js"></script>
    <script src="~/Scripts/Citizen/Controllers/userControllers.js"></script>
}
<div ng-app="userControllers" ng-controller="userController">
    
</div>
