<h5 ng-show="loadingUser">Завантаження... <i class="fa fa-refresh fa-spin"></i></h5>
<hr />
<form ng-submit="saveUser()" class="form-horizontal">
    <div class="row container">
        <div class="form-group col-lg-4">
            <label>П.І.Б.</label>
            <input ng-model="user.FirstName" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-sm btn-success" title="Зберегти зміни">
                <span class="glyphicon glyphicon-save"></span> Зберегти
                <i ng-show="saving" class="fa fa-refresh fa-spin"></i>
            </button>
            <button type="button" class="btn btn-sm btn-success" ng-click="backToList()" title="Повернутися до списку користувачів">
                <span class="glyphicon glyphicon-arrow-left"></span> Завершити
            </button>
        </div>
    </div>
</form>
<hr />
