<!--<h3>Фізична особа</h3>
<h5 ng-show="loading">Завантаження... <i class="fa fa-refresh fa-spin"></i></h5>-->
<hr />
<form ng-submit="save()">
    <div class="form-horizontal">
        <div class="form-group col-lg-3">
            <label>Прізвище</label>
            <input ng-model="person.LastName" type="text" class="form-control" required>
        </div>
        <div class="form-group col-lg-3">
            <label>Ім'я</label>
            <input ng-model="person.FirstName" type="text" class="form-control" required>
        </div>
        <div class="form-group col-lg-4">
            <label>По-батькові</label>
            <input ng-model="person.MidleName" type="text" class="form-control" required>
        </div>
        <div class="form-group col-lg-2">
            <label>Дата народження</label>
            <input ng-model="dateOfBirth" type="text" class="form-control" datepicker placeholder="дд.мм.рррр" required>
        </div>
        <div class="form-group col-lg-1">
            <label>Стать</label>
            <select class="form-control" ng-model="person.Gender" required>
                <option value='' disabled>-Вибрати-</option>
                <option value="ж">ж.</option>
                <option value="ч">ч.</option>
            </select>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group col-lg-3">
            <label>Населений пункт</label>
            <input type="text" typeahead-on-select="onSelectCity($item)" ng-model="person.address.City"
                   typeahead="c as c.CityType.Name +' '+c.Name + ' (' + c.RegionPart.Name + ' р-н)' for c in cities | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control" required>
        </div>
        <div class="form-group col-lg-3">
            <label>Вулиця</label>
            <input type="text" typeahead-on-select="onSelectStreet($item)" ng-model="person.address.Street"
                   typeahead="s as s.StreetType.Name +' '+ s.Name for s in streets | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control" required>
        </div>
        <div class="form-group col-lg-2">
            <label>Будинок</label>
            <input ng-model="person.address.House" type="text" class="form-control" required>
        </div>
        <div class="form-group col-lg-1">
            <label>Кв.</label>
            <input ng-model="person.Apartment" type="text" class="form-control">
        </div>
        <div class="form-group col-lg-2">
            <label>Тип будинку</label>
            <select class="form-control" ng-model="person.address.HouseType" ng-options="ht as ht for ht in houseTypes">
                <option value='' disabled>-Вибрати-</option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label>Дільниця</label>
            <input type="text" ng-model="person.address.Precinct"
                   typeahead="p as p.Number for p in precincts | filter: {Number:$viewValue} | orderByStartsWith:{Number:$viewValue} | limitTo:10" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Відповідальний (старший)</label>
            <div class="input-group">
                <input typeahead="p as p.label for p in getPeopleByName($viewValue)" typeahead-on-select="onSelectMajor($item)"
                       type="text" ng-model="person.Major" typeahead-loading="loadingPeople" typeahead-no-results="noResults" typeahead-min-length="10" class="form-control">
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> Фізособу не знайдено
                </div>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default form-control" ng-click="clearMajor()" ng-disabled="!person.Major.Id" title="Очистити">
                        <span ng-hide="loadingPeople" class="glyphicon glyphicon-remove"></span>
                        <i ng-show="loadingPeople" class="fa fa-refresh fa-spin"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label>Робоча дільниця (топ)</label>
            <div class="input-group">
                <input type="text" value="{{person.address.WorkArea.Precinct.Number}}.{{person.address.WorkArea.Number}} {{person.address.WorkArea.Top.LastName}} {{person.address.WorkArea.Top.FirstName}} {{person.address.WorkArea.Top.MidleName}}" class="form-control">
                <span class="input-group-btn">
                    <a ng-href="/work-area/{{person.address.WorkArea.Id}}?precinctId={{person.address.WorkArea.PrecinctId}}" class="btn btn-default form-control" ng-disabled="!person.address.WorkArea.Id" title="Відкрити">
                        <span class="glyphicon glyphicon-open"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-sm btn-success" ng-click="backToList()" title="Повернутися до списку фізичних осіб">
                <span class="glyphicon glyphicon-arrow-left"></span> Завершити
            </button>
            <button type="submit" class="btn btn-sm btn-success" title="Зберегти зміни">
                <span class="glyphicon glyphicon-save"></span> Зберегти
                <i ng-show="saving" class="fa fa-refresh fa-spin"></i>
            </button>
            <button type="button" class="btn btn-sm btn-success" ng-click="openModal('topId')" ng-disabled="!person.Id" title="Призначити топом">
                <span class="glyphicon glyphicon-user"></span> Призначити топом
            </button>
            <button type="button" class="btn btn-sm btn-success" ng-click="openModal('majorId')" ng-disabled="!person.Id" title="Призначити відповідальним">
                <span class="fa fa-users"></span> Призначити старшим
            </button>
        </div>
    </div>
</form>
<hr />
<table class="table table-striped table-bordered">
    <thead>
        Додаткові характеристики:
        <tr>
            <th ng-repeat="thName in tableHead">{{thName}}</th>
            <th>
                <button ng-click="addNewProperty()" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Додати
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-show="addPropertyMode" ng-include="'edit'"></tr>
        <tr ng-repeat="prop in person.additionalProperties" ng-include="getTemplate(prop)"></tr>
    </tbody>
</table>
<script type="text/ng-template" id="display">
    <td>{{ $index + 1 }}</td>
    <td>{{ prop.key.Name }}</td>
    <td ng-show="isDate">{{ prop.value.desc | date:'dd.MM.yyyy' }}</td>
    <td ng-show="!isDate">{{ prop.value.desc }}</td>
    <td>
        <button class="btn btn-xs" ng-click="editProperty(prop.key.Id,$index)" title="Редагувати">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-xs" ng-click="deleteProperty(prop,$index)" title="Видалити">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</script>
<script type="text/ng-template" id="edit">
    <td>{{ $index + 1 }}</td>
    <td ng-show="addPropertyMode">
        <select ng-change="onChangePropertyKey()" class="form-control" ng-options="p as p.Name for p in propKeys"
                ng-model="selected.property.Key" required>
            <option value='' disabled>-Вибрати-</option>
        </select>
    </td>
    <td ng-show="!addPropertyMode">{{ prop.key.Name }}</td>
    <td>
        <input ng-if="isPrimitive && selected.property.Key.PropertyType.html !== 'date'" class="form-control" type="{{ selected.property.Key.PropertyType.html }}" ng-model="selected.property.Value" />
        <input ng-if="selected.property.Key.PropertyType.html === 'date'" class="form-control" type="text" datepicker ng-model="selected.property.Value" placeholder="дд.мм.рррр" />
        <input ng-if="selected.property.Key.PropertyType.html === 'ref'" type="text" ng-change="selected.property.ValueId=0" typeahead-on-select="onSelectProperty($item, $model, $label)" ng-model="selected.property.Value"
               typeahead="p.Id as p.Value for p in propFilteredValues | filter: {Value:$viewValue} | orderByStartsWith:{Value:$viewValue} | limitTo:10" class="form-control">
        <input ng-if="selected.property.Key.PropertyType.html === 'refCity'" type="text" ng-change="selected.property.ValueId=0" typeahead-on-select="onSelectProperty($item, $model, $label)" ng-model="selected.property.Value"
               typeahead="c.Id as c.CityType.Name +' '+c.Name + ' (' + c.RegionPart.Name + ' р-н)' for c in cities | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control">
        <input ng-if="selected.property.Key.PropertyType.html === 'refStreet'" type="text" ng-change="selected.property.ValueId=0" typeahead-on-select="onSelectProperty($item, $model, $label)" ng-model="selected.property.Value"
               typeahead="s.Id as s.StreetType.Name +' '+ s.Name for s in streets | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control">
    </td>
    <td>
        <button ng-click="saveProperty()" class="btn btn-sm btn-success" title="Зберегти зміни">
            <span class="glyphicon glyphicon-save"></span>
            <i ng-show="savingProp" class="fa fa-refresh fa-spin"></i>
        </button>
        <button class="btn btn-sm btn-success" ng-click="reset()" title="Відмінити зміни">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</script>


