<!--<h3>Дільниці</h3>-->
<h5 ng-show="loader.loadingWorkAreas">Завантаження... <i class="fa fa-refresh fa-spin"></i></h5>
<hr>
<div class="row form-inline">
    <div class="col-md-6">
        <form ng-submit="applyFilter()">
            <label>Пошук:</label>
            <input ng-model="query[queryBy]" type="text" class="form-control" placeholder="Введіть слово">
            <label>по:</label>
            <select ng-model="queryBy" ng-change="query = {}" class="form-control">
                <option value="Precinct/Number">Дільниця</option>
                <option value="Precinct/RegionPart/Name">Район</option>
                <option value="Top/LastName">Прізвище відповідального</option>
            </select>
            <button type="submit" class="btn btn-success" title="Виконати пошук">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
    <div class="col-md-3">
        <button ng-click="addWorkArea()" class="btn btn-success" title="Створити нову робочу дільницю">
            <span class="glyphicon glyphicon-plus"></span> Створити
        </button>
    </div>
    <div class="col-md-3">
        <button ng-click="calcPeopleAtPrecincts()" class="btn btn-success">
            <span ng-hide ="loader.calcPeople" class="glyphicon glyphicon-refresh"></span>
            <i ng-show="loader.calcPeople" class="fa fa-refresh fa-spin"></i> Обчислити
        </button>
    </div>
</div>
<hr>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th ng-repeat="thName in tableHead">{{thName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="workArea in workAreas | itemsPerPage: pagination.pageSize" current-page="pagination.currentPage" total-items="pagination.totalItems" pagination-id="workAreasPagination">
            <td>{{ getIndex($index) }}</td>
            <td>
                <a ng-href="/work-area/{{workArea.Id}}/{{workArea.PrecinctId}}/{{pagination.currentPage}}?tab=addresses" title="Перейти на сторінку робочої дільниці">
                    {{ workArea.Precinct.Number }}.{{ workArea.Number }}
                </a>
            </td>
            <td>{{ workArea.Top.LastName }} {{ workArea.Top.FirstName }} {{ workArea.Top.MidleName }}</td>
            <td>{{ workArea.Precinct.RegionPart.Name }}</td>
            <td>
                {{ workArea.AddressesStr | limitTo:stringLimit }}
                <a href="" ng-click="stringLimit = stringLimit ? undefined : 100" ng-show="workArea.addressesLen >= 100" >
                    <br/>{{stringLimit>0 ? 'показати більше &#8595;' : '&#8593; згорнути'}}
                </a>
            </td>
            <td>{{ workArea.CountProponents }}</td>
            <td>{{ workArea.CountElectors }}</td>
            <td>{{ workArea.countMajorsPlan }}</td>
            <td>{{ workArea.CountMajors }}</td>
            <td>{{ workArea.percentageMajors }}</td>
            <td>{{ workArea.voterTurnout }}</td>
            <td>{{ workArea.requiredVotes }}</td>
            <td>{{ workArea.CountHouseholds }}</td>
            <td>
                <!--<button class="btn btn-xs" ng-click="edit(workArea)" title="Редагувати">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>-->
                <button class="btn btn-xs" ng-click="delete(workArea)" title="Видалити">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls boundary-links="true" on-page-change="onPageChange(newPageNumber)" pagination-id="workAreasPagination"></dir-pagination-controls>

