<!--<script src="Scripts/Citizens/Controllers/peopleControllers.js"></script>
<script src="Scripts/Citizens/Services/peopleServices.js"></script>
<script src="Scripts/Citizens/Services/streetServices.js"></script>
<script src="Scripts/Citizens/Services/cityServices.js"></script>
<script src="Scripts/Citizens/Services/precinctServises.js"></script>
<script src="Scripts/AngularUtils/directives/ui-bootstrap-typeahead-tpls-0.12.1.min.js"></script>-->
<!--<h3>Фізичні особи</h3>-->
<h5 ng-show="loader.loading" class="help-block">Завантаження... <i class="fa fa-refresh fa-spin"></i></h5>
<!--<hr>
<div class="row">
    <form ng-submit="applyFilter()">
        <div class="col-md-3">
            <input ng-model="filterQuery.LastName" type="text" class="form-control" placeholder="Фільтр по прізвищу">
        </div>
        <div class="col-md-3">
            <input ng-model="filterQuery.FirstName" type="text" class="form-control" placeholder="Фільтр по імені">
        </div>
        <div class="col-md-3">
            <input ng-model="filterQuery.MidleName" type="text" class="form-control" placeholder="Фільтр по по-батькові">
        </div>
        <button type="submit" class="btn btn-success" title="Застосувати фільтр">
            <span class="glyphicon glyphicon-filter"></span>
            <i ng-show="loader.filtering" class="fa fa-refresh fa-spin"></i>
        </button>
        <button ng-click="resetFilter()" class="btn btn-success" title="Скасувати фільтр">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
    </form>
</div>-->
<hr>
<div ng-show="showFilters" style="height:400px;">
    <div style="overflow-y: scroll; height: 380px;">
        <div class="col-lg-3">
            <div class="form-group" ng-repeat="propKey in propKeys">
                <div ng-switch="propKey.PropertyType.html">
                    <div ng-switch-when="text">
                        <label>{{propKey.Name}}:</label>
                        <input type="{{propKey.PropertyType.html}}" ng-model="propKey.input" class="form-control">
                    </div>
                    <div ng-switch-when="date">
                        <label>{{propKey.Name}}:</label>
                        з <input type="text" ng-model="propKey.input.from" datepicker class="form-control" placeholder="дд.мм.рррр">
                        по <input type="text" ng-model="propKey.input.to" datepicker class="form-control" placeholder="дд.мм.рррр">
                    </div>
                    <div ng-switch-when="number">
                        <label>{{propKey.Name}}:</label>
                        з <input type="number" ng-model="propKey.input.from" class="form-control">
                        по <input type="number" ng-model="propKey.input.to" class="form-control">
                    </div>
                    <div ng-switch-when="ref">
                        <label>{{propKey.Name}}:</label>
                        <div class="checkbox">
                            <label ng-repeat="v in getPropertyValuesByKeyId(propKey.Id)" class="checkbox">
                                <input type="checkbox" ng-click="togglePropertySelection(propKey,v)" ng-checked="checkedPropValue(propKey,v)" />{{v.Value}}
                            </label>
                        </div>
                    </div>
                    <div ng-switch-when="refCity">
                        <label>{{propKey.Name}}:</label>
                        <input type="text" typeahead-on-select="onSelectFilterCity($item, $model, $label, propKey.input)" ng-model="propKey.input.City"
                               typeahead="c.Id as c.CityType.Name +' '+c.Name + ' (' + c.RegionPart.Name + ' р-н)' for c in cities | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control" required>
                    </div>
                    <div ng-switch-when="refStreet">
                        <label>{{propKey.Name}}:</label>
                        <input type="text" typeahead-on-select="onSelectFilterStreet($item, $model, $label, propKey.input)" ng-model="propKey.input.Street"
                               typeahead="s.Id as s.StreetType.Name +' '+ s.Name for s in streets | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:15" class="form-control" required>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <!-- Base person properties  -->
        <div class="col-lg-3">
            <div class="form-group">
                <label>Прізвище:</label>
                <input typeahead="lastName for lastName in getDistinctNames($viewValue,'lastNames')"
                       ng-model="query.stringEq.LastName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Ім'я:</label>
                <input typeahead="firstName for firstName in getDistinctNames($viewValue,'firstNames')"
                       ng-model="query.stringEq.FirstName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>По-батькові:</label>
                <input typeahead="midleName for midleName in getDistinctNames($viewValue,'midleNames')"
                       ng-model="query.stringEq.MidleName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Дата народження:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" ng-model="query.interval.DateOfBirth.from" datepicker class="form-control" placeholder="дд.мм.рррр">
                    </div>
                    <div class="col-lg-6">
                        <input type="text" ng-model="query.interval.DateOfBirth.to" datepicker class="form-control" placeholder="дд.мм.рррр">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Стать</label>
                <select class="form-control" ng-model="query.eq.Gender"
                        ng-options="g.val as g.desc for g in enumGender"></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Населений пункт:</label>
                <input typeahead="c as c.CityType.Name +' '+c.Name + ' (' + c.RegionPart.Name + ' р-н)' for c in cities | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10"
                       ng-model="query.eq.City" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Вулиця:</label>
                <input typeahead="s as s.StreetType.Name +' '+ s.Name for s in streets | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:15"
                       ng-model="query.eq.Street" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Будинок:</label>
                <input type="text" ng-model="query.stringEq.House" class="form-control">
            </div>
            <div class="form-group">
                <label>Квартира:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="number" ng-model="query.interval.Apartment.from" class="form-control" placeholder="№ з">
                    </div>
                    <div class="col-lg-6">
                        <input type="number" ng-model="query.interval.Apartment.to" class="form-control" placeholder="№ по">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Тип будинку</label>
                <select class="form-control" ng-model="query.precinctAdr.HouseType"
                        ng-options="option.val as option.desc for option in houseTypes"></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Район</label>
                <input type="text" ng-model="query.precinct.RegionPart"
                       typeahead="r as r.Name +' ('+ r.RegionPartType +')' for r in regionParts | filter: {Name:$viewValue} | orderByStartsWith:{Name:$viewValue} | limitTo:10" class="form-control">
            </div>
            <div class="form-group">
                <label>Дільниця</label>
                <!--<input ng-model="query.precinctAdr.Precinct" type="text" class="form-control">-->
                <input type="text" ng-model="query.precinctAdr.Precinct" typeahead-no-results="noResults.precincts" typeahead-loading="loadingPrecincts"
                       typeahead="precinct as precinct.Number for precinct in getPrecinctsByNumber($viewValue)" class="form-control">
                <i ng-show="loadingPrecincts" class="fa fa-refresh fa-spin"></i>
                <div ng-show="noResults.precincts">
                    <i class="glyphicon glyphicon-remove"></i> Дільницю не знайдено
                </div>
            </div>
            <div class="form-group">
                <label>Відповідальний (старший)</label>
                <input typeahead="p as p.label for p in getPeopleByName($viewValue)" ng-model="query.eq.Major"
                       type="text" typeahead-loading="loadingPeople" typeahead-no-results="noResults.people" typeahead-min-length="10" class="form-control">
                <i ng-show="loadingPeople" class="fa fa-refresh fa-spin"></i>
                <div ng-show="noResults.people">
                    <i class="glyphicon glyphicon-remove"></i> Фізособу не знайдено
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2" access-permissions="SuperAdministrators">
        <button ng-click="addNew()" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus"></span> Створити фіз. особу
        </button>
    </div>
    <div class="col-md-2">
        <button ng-click="openAdditionalPropertySelection()" class="btn btn-sm btn-success" ng-disabled="checkedPeople.value.length===0" title="Групова зміна хара-ки">
            <span class="glyphicon glyphicon-edit"></span> Змінити хар-ку
            <i ng-show="loader.savingProps" class="fa fa-refresh fa-spin"></i>
        </button>
    </div>
    <div ng-show="showFilters" class="col-md-2">
        <button ng-click="applyFilter()" class="btn btn-sm btn-success" title="Застосувати фільтр">
            <span class="glyphicon glyphicon-filter"></span>
            <i ng-show="loader.filtering" class="fa fa-refresh fa-spin"></i>
        </button>
        <button ng-click="resetFilter()" class="btn btn-sm btn-success" title="Скасувати фільтр">
            <span class="glyphicon glyphicon-filter"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div class="col-md-4">
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="showFilters"/> Показати фільтри
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" ng-model="checkedPeople.show"/> Режим вибору
        </label>
    </div>
    <div class="col-md-2">
        <label>Всього: {{pagination.totalItems}} </label>
    </div>
</div>
<hr>
<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>№</th>
        <th ng-show="checkedPeople.show"><input type="checkbox" ng-click="checkAllPeopleOnPage()" ng-checked="checkedPeople.pages.indexOf(pagination.currentPage)>=0"></th>
        <th ng-repeat="column in tableColumns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
        <tr dir-paginate="person in people | itemsPerPage: pagination.pageSize" current-page="pagination.currentPage" total-items="pagination.totalItems" pagination-id="peoplePagination">
            <td>{{ getIndex($index) }}</td>
            <td ng-show="checkedPeople.show"><input type="checkbox" ng-click="togglePersonSelection(person.Id)" ng-checked="checkedPeople.value.indexOf(person.Id) >= 0" /></td>
            <td>{{ person.LastName }} {{ person.FirstName }} {{ person.MidleName }}</td>
            <td>{{ person.DateOfBirth | date:'dd.MM.yyyy' }}</td>
            <td>{{ person.City.CityType.Name}}{{person.City.Name}}, {{ person.Street.StreetType.Name }} {{ person.Street.Name }} {{ person.House }}{{ person.ApartmentStr | checkApartment}}</td>
            <!--<td>{{ person.PrecinctNumber }}</td>-->
            <td>
                <button class="btn btn-xs" ng-click="edit(person)" title="Редагувати">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-xs" ng-click="delete(person)" title="Видалити">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls boundary-links="true" on-page-change="onPageChange(newPageNumber)" pagination-id="peoplePagination"></dir-pagination-controls>