@section Scripts{

    <script src="~/Scripts/Citizen/Services/peopleServices.js"></script>
    <script src="~/Scripts/Citizen/Controllers/peopleControllers.js"></script>
    <script src="~/Scripts/Citizen/Services/streetServices.js"></script>
    <script src="~/Scripts/Citizen/Services/cityServices.js"></script>
    <script src="~/Scripts/Citizen/Services/precinctServises.js"></script>
    <script src="~/Scripts/AngularUtils/directives/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
}
<div ng-app="peopleModule">

    @Html.Partial("Alert")
    <div ng-view></div>
</div>