<div class="alert alert-danger" ng-show="errorMsg.length>0">
    <a class="close" data-ng-click="errorMsg=''">&times;</a>
    <strong>Помилка!</strong> {{errorMsg}}
</div>
<div class="alert alert-success" ng-show="successMsg.length>0">
    <a class="close" data-ng-click="successMsg=''">&times;</a>
    {{successMsg}}
</div>