@section Scripts{
    <script src="~/Scripts/Citizen/Services/streetServices.js"></script>
    <script src="~/Scripts/Citizen/Services/precinctServises.js"></script>
    <script src="~/Scripts/Citizen/Controllers/precinctControllers.js"></script>
    <script src="~/Scripts/Citizen/Services/cityServices.js"></script>
    <script src="~/Scripts/Citizen/Services/regionPartServices.js"></script>
    <script src="~/Scripts/AngularUtils/directives/angular-scrollable-table.min.js"></script>
    <script src="~/Scripts/AngularUtils/directives/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
    <link href="~/Content/css/scrollable-table.css" rel="stylesheet" />
    @*<style>
        .dropdown-menu {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>*@
}
<div ng-app="precinctControllers">

   @Html.Partial("Alert")
   <div ng-view></div>
</div>
