<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apicitizens.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apicitizens.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiCitizens</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApiCitizens</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CitizensDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sz1hbkhnjo.database.windows.net,1433;Initial Catalog=CitizensDb;User ID=vitality2007@sz1hbkhnjo;Password=Qwerty123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sz1hbkhnjo.database.windows.net;Initial Catalog=CitizensDb_Test;User ID=vitality2007;Password=Qwerty123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CitizensDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sz1hbkhnjo.database.windows.net;Initial Catalog=CitizensDb_Test;User ID=vitality2007;Password=Qwerty123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CitizensDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sz1hbkhnjo.database.windows.net,1433;Initial Catalog=CitizensDb;User ID=vitality2007@sz1hbkhnjo;Password=Qwerty123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>