<!DOCTYPE html>
<html ng-app="citizens">
<head>
    <base href="/">
    <!--<meta name="viewport" content="width=device-width"/>-->
    <script src="Scripts/jQuery/jquery-2.1.4.min.js"></script>
    <!--<script src="~/Scripts/knockout-3.3.0.js"></script>-->
    <link href="Content/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>-->
    <link href="Content/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="Content/css/scrollable-table.css" rel="stylesheet" />
    <link href="Content/css/jquery-ui.min.css" rel="stylesheet" />
    <!--<link href="Content/css/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="Content/css/ng-bs3-datepicker.css" rel="stylesheet" />-->
    <script src="Scripts/AngularJS/angular.min.js"></script>
    <script src="Scripts/AngularJS/angular-resource.min.js"></script>
    <script src="Scripts/AngularJS/angular-route.min.js"></script>
    <script src="Scripts/AngularJS/angular-cookies.min.js"></script>
    <script src="Scripts/AngularJS/angular-file-model.js"></script>
    <script src="Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="Scripts/Citizens/app.js"></script>
    <script src="Scripts/AngularUtils/directives/dirPagination.js"></script>
    <!--<script src="Scripts/AngularUtils/directives/ui-bootstrap-typeahead-tpls-0.12.1.min.js"></script>-->
    <script src="Scripts/AngularUtils/directives/ui-bootstrap-typeahead-tabs-tpls-0.13.0.min.js"></script>
    <script src="Scripts/AngularUtils/directives/angular-scrollable-table.min.js"></script>
    <script src="Scripts/AngularUtils/directives/jquery-ui.min.js"></script>
    <script src="Scripts/AngularUtils/directives/datepicker-uk.js"></script>
    <!--<script src="Scripts/AngularUtils/directives/moment-with-locales.min.js"></script>
    <script src="Scripts/AngularUtils/directives/bootstrap-datetimepicker.min.js"></script>
    <script src="Scripts/AngularUtils/directives/ng-bs3-datepicker.min.js"></script>-->
    <!-- SERVICES  -->
    <script src="Scripts/Citizens/Services/peopleServices.js"></script>
    <script src="Scripts/Citizens/Services/streetServices.js"></script>
    <script src="Scripts/Citizens/Services/cityServices.js"></script>
    <script src="Scripts/Citizens/Services/precinctServises.js"></script>
    <script src="Scripts/Citizens/Services/regionPartServices.js"></script>
    <script src="Scripts/Citizens/Services/userServices.js"></script>
    <script src="Scripts/Citizens/Services/authServices.js"></script>
    <!-- CONTROLLERS  -->
    <script src="Scripts/Citizens/Controllers/peopleControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/authControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/cityControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/precinctControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/regionPartControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/streetControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/userControllers.js"></script>
    <script src="Scripts/Citizens/Controllers/uploadXlsController.js"></script>
    <script src="Scripts/Citizens/Controllers/districtControllers.js"></script>
    <!-- GECODE -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&language=uk&key=AIzaSyD5rEzPHikmpU-4W2Nu__A7CeJgTYEe_lg"></script>
    <title>Citizens</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-if="UserInfo">
                    <li><a href="/people" class="navbar-brand">Фізичні особи</a></li>
                    <li><a href="/precincts">Дільниці</a></li>
                    <li><a href="/streets">Вулиці</a></li>
                    <li><a href="/cities">Населені пункти</a></li>
                    <li><a href="/region-parts">Райони</a></li>
                    <li><a href="/districts">Округи</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            Адміністрування
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/uploadXls">Завантажити Excel</a></li>
                            <li><a href="/geocoding-precincts">Геокодування дільниць</a></li>
                            <li><a href="/users">Користувачі</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-inline navbar-text navbar-right">
                    <li ng-if="UserInfo">{{UserInfo.UserName}}</li>
                    <li ng-if="UserInfo"><a href="/logout">Вийти</a></li>
                    <!--<li ng-if ="!UserInfo"><a href="/register">Реєстрація</a></li>-->
                    <li ng-if="!UserInfo"><a href="/login">Ввійти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="alert alert-danger" ng-show="errorMsg.length>0">
            <a class="close" data-ng-click="errorMsg=''">&times;</a>
            <strong>Помилка!</strong> {{errorMsg}}
        </div>
        <div class="alert alert-success" ng-show="successMsg.length>0">
            <a class="close" data-ng-click="successMsg=''">&times;</a>
            {{successMsg}}
        </div>
        <h3 ng-hide="loading">{{pageTitle}}</h3>
        <h5 ng-show="loading" class="help-block">Завантаження, будь-ласка зачекайте... <i class="fa fa-refresh fa-spin"></i></h5>
        <div ng-hide="loading" ng-view></div>
    </div>
</body>
</html>
