@section Scripts{
    <script src="~/Scripts/Citizen/Controllers/cityControllers.js"></script>
    <script src="~/Scripts/Citizen/Services/cityServices.js"></script>
    <script src="~/Scripts/Citizen/Services/regionPartServices.js"></script>
}
<div ng-app="cityModule">
    @Html.Partial("Alert")
    <div ng-view></div>
</div>
