<div class="container">
    <h3>Фізична особа</h3>   
    <form ng-submit="save()">
        <input ng-model="person.LastName" type="text" class="form-control" required>
        <input ng-model="person.FirstName" type="text" class="form-control" required>
        <input ng-model="person.MidleName" type="text" class="form-control" required>
        <input ng-model="dateOfBirth" type="date" class="form-control" required>
        <select class="form-control" ng-model="person.Gender" required>
            <option value='' disabled>-Стать-</option>
            <option value="ж">ж.</option>
            <option value="ч">ч.</option>
        </select>
        <select class="form-control" ng-options="c.Id as c.CityType.Name+' '+c.Name for c in cities"
                ng-model="person.CityId" required>
            <option value='' disabled>-Населений пункт-</option>
        </select>
        <select class="form-control" ng-options="s.Id as s.StreetType.Name+' '+s.Name for s in streets"
                ng-model="person.StreetId" required>
            <option value='' disabled>-Вулиця-</option>
        </select>
        <input ng-model="person.House" type="text" class="form-control" required>
        <input ng-model="person.Apartment" type="text" class="form-control" required>

        <input ng-model="person.PrecinctId" type="text" class="form-control" required>


        <button type="submit" class="btn btn-xs btn-success" title="Зберегти">
            <span class="glyphicon glyphicon-save"></span>
            <i ng-show="saving" class="fa fa-refresh fa-spin"></i>
        </button>
        <button class="btn btn-xs btn-success" ng-click="reset()" title="Скасувати">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>
</div>